*{
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 1200px;
    height: 1000px;
    margin: 0.5em auto;
    padding: 0.5em;
}

#header{
    height: 15%;
    background: #A4A4A4;
    border-radius: 1em;
    margin: 1em;

}

#nav{
    height: 10%;
    background: #424242;
    border-radius: 1em;
    margin: 1em;
    text-align: center;
    padding-top: 2em;
    font-size: 30px;
    color: bisque;



}

#contenido{
    height: 53%;
       
}

#footer{
    height: 15%;
    background: #424242;
    border-radius: 1em;
    margin: 1em;
}

#section{
    height: 100%;
    width: 65%;
    background: #A4A4A4;
    border-radius: 1em;
    margin: 0.5em;
    float: left;
}

#aside{
    height: 100%;
    width: 30%;
    background: #A4A4A4;
    border-radius: 1em;
    margin: 1em;
    float: right;
    margin-left: 1em;
}

.articulo{
    width:  88%;
    height: 17%;
    background: #424242;
    margin: 0.5em;
    border-radius: 1em;
     

    
}

p{
    font-size: 15;
    font-family: Arial;
    color: aliceblue;
    margin: 2em;
    
}

.aside0{
    text-align: center;
    padding-top: 1em;
    font-size: 20px;

}

img{
    padding-left: 2em;
}